@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  height: 100%;
}

.tips-options li {
  list-style: disc !important;
}

/* Custom scrollbar styles */
.scrollbar {
  overflow-y: auto;
  scrollbar-width: thin; /* Firefox */
  scrollbar-color: rgb(176, 174, 174) #ddd; /* Firefox */
  transition: scrollbar-color 0.3s ease, scrollbar-width 0.3s ease;
}

.scrollbar::-webkit-scrollbar {
  width: 8px; /* Scrollbar width */
}

.scrollbar::-webkit-scrollbar-track {
  background: #ddd; /* Track color */
}

.scrollbar::-webkit-scrollbar-thumb {
  background-color: gray; /* Thumb color */
  border-radius: 100%; /* Rounded edges */
  transition: background-color 0.3s ease; /* Smooth color change */
}

.scrollbar:hover::-webkit-scrollbar-thumb {
  background-color: darkgray; /* Hover effect */
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {

  :root  {
    --background: 262 100% 95%;
    --foreground: 262 5% 0%;
    --card: 262 50% 90%;
    --card-foreground: 262 5% 10%;
    --popover: 262 100% 95%;
    --popover-foreground: 262 100% 0%;
    --primary: 262 51.9% 47.3%;
    --primary-foreground: 0 0% 100%;
    --secondary: 262 30% 70%;
    --secondary-foreground: 0 0% 0%;
    --muted: 224 30% 85%;
    --muted-foreground: 262 5% 35%;
    --accent: 224 30% 80%;
    --accent-foreground: 262 5% 10%;
    --destructive: 0 100% 30%;
    --destructive-foreground: 262 5% 90%;
    --border: 262 30% 50%;
    --input: 262 30% 18%;
    --ring: 262 51.9% 47.3%;
    --radius: 0.5rem;
  }
  .dark  {
    --background: 262 50% 5%;
    --foreground: 262 5% 90%;
    --card: 262 50% 0%;
    --card-foreground: 262 5% 90%;
    --popover: 262 50% 5%;
    --popover-foreground: 262 5% 90%;
    --primary: 262 51.9% 47.3%;
    --primary-foreground: 0 0% 100%;
    --secondary: 262 30% 10%;
    --secondary-foreground: 0 0% 100%;
    --muted: 224 30% 15%;
    --muted-foreground: 262 5% 60%;
    --accent: 224 30% 15%;
    --accent-foreground: 262 5% 90%;
    --destructive: 0 100% 30%;
    --destructive-foreground: 262 5% 90%;
    --border: 262 30% 18%;
    --input: 262 30% 18%;
    --ring: 262 51.9% 47.3%;
    --radius: 0.5rem;
  }
  
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
